#main {
  margin-left: 210px;
  min-width: 760px;
  right: 23%;
  background-color: #FFF;
  padding: 0px 5px;
}

#widthPreserver {
  overflow: hidden;
  height: 1px;
  width: 760px;
}
// http://localhost:3000/amazon_photos/I/517%2BbpHK4HL._SL160_AA160_.jpg
// http://ecx.images-amazon.com/images/I/517%2BbpHK4HL._AA160_.jpg