#main {
  margin-left: 210px;
  min-width: 760px;
  right: 23%;
  background-color: #FFF;
  padding: 0px 5px;
}

#widthPreserver {
  overflow: hidden;
  height: 1px;
  width: 760px;
}

div.product {
  font-weight: bold;
  text-decoration: none;
  color: #004B91;
  font-size: 85%;
  
  border-top: 1px solid #DDD;
  float: left;
  overflow: hidden;
  position: relative;
  width: 32%;
  padding: 8px 4px 4px 0;
}

div.number {
  color: #666;
  float: left;
  font-size: 75%;
}